<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>

  <%= stylesheet_link_tag "bootstrap/bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap/bootstrap-responsive", :media => "all" %>

  <%= csrf_meta_tags %>

 </head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <%= javascript_include_tag "bootstrap/bootstrap" %>
</body>
</html>
